.random-number-container {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  padding: 12px 32px;

  .random-number-text {
    font-size: 22px;
    color: black;
  }

  .random-number-button {
    font-size: 16px;
    color: black;

    border: none;
    outline: none;

    border-radius: 5px;
    background: #d6d6d6;

    padding: 8px 12px;

    cursor: pointer;
  }
}