.fibonacci-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

  padding: 0 32px;

  .fibonacci-button {
    width: 150px;

    margin-left: 24px;
  }
}